@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
:root {
  --active-green: #09A66D;
  --background-green: #F3FBF8;
  --font-color: #555555;
  --font-color-bold: #222222;
}

body {
  margin: 1.3em;
  font-family: "DM Sans", sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
}

p {
  color: var(--font-color);
  font-size: 0.5em;
}

li {
  list-style: none;
}

section {
  padding: 1.2em 0;
}

.container {
  margin: 1.2em;
}

.click-btn {
  margin: 2em 0;
}
.click-btn i {
  color: #fff;
}

.btn-act {
  border: 1px solid #CCCCCC;
  padding: 0.8em 1em;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 0.5em;
}

.btn-act:hover, .btn-act:visited {
  background-color: var(--active-green);
  border: 1px solid --active-green;
}
.btn-act:hover svg, .btn-act:visited svg {
  fill: #fff;
}

.registry-btn {
  color: #fff;
  padding: 0.8em 1.8em;
  font-size: 1em;
  background-color: var(--active-green);
  border-radius: 0.7em;
  display: inline-block;
}

.download-btn {
  display: inline-block;
  margin: 0.5em 0;
  color: var(--font-color-bold);
  padding: 0.3em 1em;
  background-color: var(--background-green);
  border-radius: 1em;
  text-transform: capitalize;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--background-green);
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: capitalize;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  display: block;
  padding: 0.75em 2em;
  font-weight: 400;
  color: var(--font-color-bold);
  font-size: 2em;
}
nav .logo {
  margin: 1.2em;
}
nav .close {
  float: right;
  margin: 2.1em;
  width: 2.5em;
}

.open-nav {
  transform: translateX(0);
}

.section-title h2 {
  font-size: 1.8em;
  text-transform: capitalize;
}
.section-title p {
  font-size: 1em;
}

.main {
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-green);
  height: 100vh;
}
.main-title {
  padding: 1em;
}
.main-title h1 {
  font-family: "Rosario", sans-serif;
  font-size: 1.5em;
}
.main img {
  display: none;
  width: 100%;
  height: auto;
}

.active-btn {
  display: flex;
  align-items: center;
}
.active-btn h6 {
  font-size: 1em;
}
.active-btn svg {
  margin-left: 1em;
  padding: 0.8em;
  background-color: var(--active-green);
  border-radius: 50%;
}

.main-progress {
  display: inline-block;
}
.main-progress__item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 3px solid transparent;
  margin: 1em;
  padding: 0 2em;
}
.main-progress__item svg {
  padding: 0.2em;
  border-radius: 50%;
  padding: 0.8em;
  background-color: var(--background-green);
}
.main-progress__item-sub h5 {
  font-size: 1em;
}
.main-progress__item-sub h6 {
  font-size: 0.8em;
}

.main-progress__item:hover {
  border: 3px solid var(--active-green);
  transition: 0.03s;
}

.about__us {
  display: flex;
  text-align: center;
  position: relative;
}
.about__us svg {
  position: absolute;
  z-index: -1;
}
.about__us-img img {
  width: 100%;
  height: auto;
}

.content__desc svg {
  padding: 0.8em;
  border-radius: 50%;
}
.content__desc svg:hover {
  background-color: #fff;
}
.content__desc-item {
  display: flex;
  align-items: center;
}
.content__desc-item:hover {
  background-color: var(--background-green);
}

.services {
  background-color: var(--background-green);
}
.services-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  transform: rotate(30deg);
  padding: 1.2em;
}
.services-gallery img {
  width: 90%;
  height: auto;
  box-shadow: 2px 5px 27px -3px rgba(9, 166, 109, 0.18);
}
.services-gallery img:nth-child(odd) {
  transform: translateY(5em);
}
.services-desc {
  position: relative;
}
.services-desc img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 10em;
  left: 9em;
}

.testimonial__desc-client p {
  font-size: 1em;
}
.testimonial__desc-client h6 {
  font-size: 1.2em;
  font-weight: bold;
}

.testimonial__img {
  position: relative;
}
.testimonial__img .circle {
  position: relative;
  background-color: var(--background-green);
  height: 19em;
  width: 19em;
  border-radius: 50%;
}
.testimonial__img img {
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  top: 0;
}

.checked {
  color: orange;
}

.download .download__img {
  position: relative;
}
.download .download__img-1, .download .download__img-2 {
  position: relative;
}
.download .download__img-1 svg, .download .download__img-2 svg {
  position: relative;
}
.download .download__img-1 img, .download .download__img-2 img {
  width: 92%;
  height: auto;
  position: absolute;
  z-index: 999;
  top: 0.5em;
  left: 0.6em;
  border-radius: 2em;
}
.download .phone-img1 {
  position: relative;
  display: inline-block;
}
.download .phone-img2 {
  position: absolute;
  display: block;
}

.footer {
  text-align: left;
  margin: 1.2em 0;
}
.footer-logo p {
  font-size: 1em;
  text-align: left;
}

.footer__nav-item a {
  font-size: 1em;
}
.footer__nav-item a:hover {
  font-weight: bold;
  color: var(--font-color-bold);
}
.footer__nav-sub h5 {
  font-size: 1.2em;
}
.footer__nav-sub-social {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0;
  width: 50%;
}
.footer__nav-sub-social i {
  color: var(--font-color-bold);
  font-size: 1.5em;
  padding: 0.2em;
}
.footer__nav a {
  color: var(--font-color);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
  }
  .footer-logo {
    display: flex;
  }
  .footer-logo p {
    padding-left: 1em;
  }
  .footer-logo svg {
    font-size: 5em;
  }
  .footer__nav {
    display: flex;
    padding: 0;
    justify-content: space-between;
  }
  .footer__nav-sub-social {
    padding-left: 1em;
  }
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: var(--font-color-bold);
    padding: 0.5em 1.5 em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .about__us {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */